
    width: 100%;
    aspect-ratio: 3 / 2;.hero {
    display: flex;
    flex-direction: row;
    gap: 20px;
    img{
        max-width: 60vw;
    }
}
body{
    width: 90vw;
}

.events {
display: flex;
flex-wrap: wrap;
gap: 20px;
margin: 20px;
}
.events article {
    flex: 400px;
}
.img {
    width: 100%;
    aspect-ratio: 3 / 2;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
