@font-face {
    font-family: avenir;
    src: url("font/Avenir.ttc");
}
@font-face {
    font-family: ;
    src: url();
}

header{
    color: #F4F3EF;
}

nav{
 color: #F4F3EF;
 display: flex;
 align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
padding: 10px;
list-style: none;
}

.topsnopp{
display: flex;
justify-content: space-between;
}

.hero {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #F4F3EF;
img{
        max-width: 60vw;
}
}
body{
    width: 90vw;
    background-color: #211612;;
}

.events {
display: flex;
flex-wrap: wrap;
gap: 20px;
margin: 20px;
}
.events article {
    flex: 400px;
    background-color: #F4F3EF;
}
.img{
    width: 100%;
    aspect-ratio: 3 / 2;
}
.events img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2{
    font-family: avenir;
}

footer{
    background-color: #8565D6;
}
p{
    font-family: avenir;
}

