@font-face {
    font-family: avenir;
    src: url("font/Avenir.ttc");
}
@font-face {
    font-family: ArsenicaTrial-Medium;
    src: url("font/ArsenicaTrial-Medium.ttf");
}

header{
    display: flex;
    flex-direction: column;
.slogan{
    max-width: 10vw;
}
img{
    max-width: 15vw;
} 
}

nav{
 color: #F4F3EF;
 display: flex;
 align-items: center;
 font-family: avenir;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
padding: 10px;
list-style: none;
}

.topsnopp{
display: flex;
justify-content: space-between;
padding: 20px;
}

.hero {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #F4F3EF;
img{
        max-width: 60vw;
}
}
body{
    background-color: #211612;;
}

.events {

display: flex;
flex-wrap: wrap;
gap: 20px;
padding: 20px;
}
.events article {
    flex: 400px;
    background-color: #F4F3EF;
}
.img{
    width: 100%;
    aspect-ratio: 3 / 2;
}
.events img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2{
    font-family: avenir;
}

footer{
    background-color: #8565D6;
    list-style: none;
.loga{
max-width: 10vw;
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}
}
.insidefooter{
    padding: 20px;
}
.adress{
    display: flex;
}
.herotext{
    font-family: ArsenicaTrial-Medium;
}

p{
    font-family: avenir;
}
.underline{
    text-decoration: underline solid #8565D6;
}
